body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* App.css */
.home {
  width: 100%;
  margin-top: 50px;
}
.home .container {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.home .left-column {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Add your background color */
  padding: 10px;
  margin-bottom: 50px;
  height: 100vh;
}

.home .right-column {
  flex: 1;
  background-color: #e0e0e0; /* Add your background color */
  padding: 20px;
}
