.auction-container {
  display: flex;
  flex-direction: column; 
  border-radius: 5px; 
  margin-top: 40px;  
  width: fit-content;
}
.my-auctions {
  display: flex; 
  flex-direction: column; 
  margin-top: 00px; 
}

.auction-list { 
  display: flex; 
  flex-direction: column;   
}