.auction-feed-container {
  flex:1; 
  flex-direction: column;
  justify-content: flex-start; 
  align-items:flex-start;
  margin-top: 250px; 
  width: '100%';
}
.auction-grid {
  flex:1;
  margin-top: 200px;
  width: fit-content;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); /* Dynamic grid columns */
  gap: 16px; /* Gap between grid items */
}
.auction-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexible columns */
  gap: 16px; /* Adjust the gap between items */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .auction-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .auction-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust for even smaller screens */
  }
}
